<div class = "container">
<div class = "row">
	<% if signed_in? %>
		<aside class='span4'>
			<h1>Welcome to MeterPaid!</h1>
		</aside>
		<aside class='span7 offset1'>
			<%= render 'schedule_list', upcoming_schedules: @upcoming_schedules %>
		</aside>
	<% else %>
		<div class="center hero-unit">
			<h1>Welcome to MeterPaid!</h1>
			<h3>Feed the parking meter while you sleep.</h3>
			<%= link_to "New user? Sign up!", signup_path, class: "btn btn-large btn-primary" %>

		</div>
	<% end %>
</div>
</div>
