<div class = 'row'>
	<div class = "span3 offset4">
		<h1>Profile for <%= @user.email %></h1>
		
		<p>Phone: <%= @user.phone %></p>
		<p>Meter company pin: <%= @user.meter_company_account_pin %></p>
		<p>CC CV2: <%= @user.cv2 %></p>
	</div>
</div>
