<h1>Upcoming Schedules</h1>
<% @upcoming_schedules.each do |schedule| %>

	<table>
		<tr>
			<td>Scheduled for:</td>  <td><%= schedule.time %></td>
		</tr>
		<tr>
			<td>Meter number</td>  <td><%= schedule.meter %></td>
		</tr>
		<tr>
			<td>Amount:</td>  <td><%= schedule.amount %></td>
		</tr>
	</table>
<% end %>
