@import "bootstrap";

#schedule_time_1i {
	width: 60px;
}
#schedule_time_2i {
	width: 100px;
}
#schedule_time_3i {
	width: 45px;
}
#schedule_time_4i {
	width: 70px;
}
#schedule_time_5i {
	width: 45px;
}